.MyWebcam  {
  width: auto;
  border-radius: 0px;
  max-width: 560px;
}

.MyWebcam video  {
  width: 100%;
  margin-bottom: -4px;
}

.cameraModal {
  text-align: center!important;
  background-image: url('https://i.pinimg.com/750x/6c/f1/1f/6cf11fd9a65e7af45a9698fdecb29a9e.jpg')!important;
}

.white {
  color: white;
}