.MyWebcam  {
  width: auto;
  border-radius: 0px;
}

.MyWebcam video  {
  width: 100%;
  margin-bottom: -4px;
}

.cameraModal {
  text-align: center!important;
  background-image: url('./assets/Rain-1-reworked.jpg')!important;
}

.white {
  color: white;
}